# Set the default behavior to force all files to LF on check-in
* text=auto eol=lf

# Explicitly declare text files you want to always be LF
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Denote binary files (images, fonts, etc.) so Git doesn't touch them
*.png binary
*.jpg binary
*.gif binary
